<!DOCTYPE html>
<head>

    <link rel="stylesheet" href="~/css/pro.css">

</head>

<body>


<!-- The sidebar -->
<div class="sidebar">
  <a class="active" asp-area="" asp-controller="Admin" asp-action="MyDetails">my Details</a>
  <a class="" asp-area="" asp-controller="Admin" asp-action="Create">Add Co-Admin</a>
  <a class="" asp-area="" asp-controller="Admin" asp-action="Index">View all Admins</a>
  <a class="" asp-area="" asp-controller="Assessment" asp-action="Index">View All Assessments</a>
  <a class="" asp-area="" asp-controller="Question" asp-action="Index">View Questions</a>
  <a class="" asp-area="" asp-area="" asp-controller="Option" asp-action="Index">View Options</a>
  <a class="" asp-area="" asp-area="" asp-controller="Teacher" asp-action="Index">View Teachers</a>
  <a class="" asp-area="" asp-area="" asp-controller="Student" asp-action="Index">View Student</a>
  <a class="" asp-area="" asp-area="" asp-controller="Lesson" asp-action="Index">View Lessons</a>
  <a class="" asp-area="" asp-area="" asp-controller="Word" asp-action="Index">View Words</a>
  <a class="" asp-area="" asp-area="" asp-controller="Role" asp-action="Index">Roles</a>
  <a class="" asp-area="" asp-controller="User" asp-action="LogOut">Log Out</a>
  @* <a href="about">About</a> *@
</div>

<!-- Page content -->
<div class="content">
  <h3>Welcome!</h3>
  <h4>Manage, Control and Co-Ordinate</h4>
</div>

</body>