@model iqraProject.DTOs.QuestionDto



<h3>Do you still want to delete this Question?</h3>
<div style="font-size: 130%;">
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            TextTest:
        </dt>
        <dd class="col-sm-10">
            @Model.TextTest
        </dd>
        <dt class="col-sm-2">
            AudioTest:
        </dt>
        <dd class="col-sm-10">
            @Model.AudioTest
        </dd>
        
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> 
    
    </form>
    <button style="background-color:darkgreen; color: white;"><a asp-action="Index">Back to List</a> </button>
</div>