@model iqraProject.DTOs.QuestionDto


<body>
    <div class="container">

            <div class="inner-container">
                <div class="text">@Model.TextTest</div>
                <div class="sound">
                    <audio controls>
                    <source src="/QuestionSound/@Model.AudioTest" type="audio/mp3">
                    Your browser does not support the audio element.
                    </audio>
                </div>
            </div>

            

    </div>

    
    

</body>

</html>