<!DOCTYPE html>

<head>

    <link rel="stylesheet" href="~/css/pro.css">

</head>

<body style="background-color: darkgreen; color: white;">

    <div>

        <h2>Guide for Students</h2>

        <h3>System of Transliteration</h3>
        <p><b>ا</b>: At the beginning of a word pronounced as a,i,u. It's pronounced by a very slight aspiration, like h
            in the english word 'honour'</p><br>
        <p><b>ث</b>: It is pronounced like th, in the English word 'thing'</p><br>
        <p>Each lesson has many words with their symbols, transliteration and sound for listeners to have deep
            understanding</p><br>
        <p>Each lesson has its Assessment with its passmark which will be met before having access to further lesssons,
            check note on Assessment for Assessment details</p>

    </div>

    <div>
        <h3>Note on Assessment</h3>
        <p>Questions under the assessment has many options which are of Arabic text, transliteration and sound format.
        </p><br>
        <p>The passmark to each Assessment is 85%</p>

    </div>



</body>