<!DOCTYPE html>
<head>

    <link rel="stylesheet" href="~/css/pro.css">

</head>

<body>


<!-- The sidebar -->
<div class="sidebar">
  <a class="active" asp-area="" asp-controller="Student" asp-action="MyDetails">My Details</a>
  <a class="" asp-area="" asp-controller="Student" asp-action="Guide">Guide</a>
  <a class="" asp-area="" asp-controller="Lesson" asp-action="Details">Take Lesson</a>
  <a class="" asp-area="" asp-controller="User" asp-action="LogOut">Log Out</a>
  
  @* <a href="about">About</a> *@
</div>

<!-- Page content -->
<div class="content">
  <h3>Learn that which is good!</h3>
</div>

</body>